body{
    font-family: 'Montserrat', sans-serif;
}

.mainheader{
    background: #222;
}

.navbar{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

.small-nav{
  font-size: 0.8em;
  margin-left: 0;
  margin-right: 0;
}


.main-menu-sm > li{
 max-height: 4.2em;
}
.video{
    /*background: url('../img/bg-video.png') center;*/
    min-height: 35em;
}

.textvideo{
    text-align: center;
    color:#f9f9f9;
    /*position: absolute;*/
    margin-top: 3.5em;
    /*margin-bottom: 2em;*/


}

.sliderbody{
  position: relative;
  
  margin: 0;
  padding: 0;
}

.swiper-container {
  width: 100%;
  height: 100%;      
}
.swiper-slide {
  text-align: center;
  /*background: #fff;*/
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}


.textdj{
    text-align: center;
    color:#f9f9f9;
    /*position: absolute;*/
    margin-top: -1em;
    margin-bottom: 2em;

}

.textdonate{
    text-align: center;
    color:#f9f9f9;
    /*position: absolute;*/
    margin-top: 2.5em;
    margin-bottom: 1.5em;

}

.text-blue{
    text-align: center;
    color:#0093F5;
    /*position: absolute;*/
    margin-top: 2.5em;
    /*margin-bottom: 2em;*/

}

.text-pink{
    text-align: center;
    color:#000;
    /*position: absolute;*/
    margin-top: 2em;
    /*margin-bottom: 2em;*/

}

.text-pink strong{
  color: #FD0052;
}

.pink{
  color: #FD0052;
}
.text-program{
    text-align: left;
    color:#f9f9f9;
    /*position: absolute;*/
    margin-top: 3.5em;
    margin-bottom: 1.5em;
    font-weight: 400;

}

.texto-lg{
  font-size: 17px;
}

.txt-large{
  font-size: 20px;
}
.textvideo_no_bottom{
    text-align: center;
    color:#f9f9f9;
    /*position: absolute;*/
    margin-top: 3em;
    /*margin-bottom: 2em;*/

}

.toilet{
    text-align: left;
    color:#f9f9f9;
    font-weight: 400;
    /*position: absolute;*/
    margin-top: 3em;
    margin-bottom: 1.5em;

}

.water{
    text-align: left;
    color:#f9f9f9;
    font-weight: 400;
    /*position: absolute;*/
    margin-top: 2em;
    margin-bottom: 1.5em;

}

.raver-text{
    text-align: left;
    /*color:#f9f9f9;*/
    font-weight: 400;
    /*position: absolute;*/
    /*margin-top: 3em;*/
    /*margin-bottom: 1.5em;*/

}

.c_programs{
    background: #0F70FD;
    min-height: 35em;

}

.yellow{
    background: #FDBC1B;
    /*min-height: 35em;*/

}

.rosa{
    background: #FD0052;
    position: relative;
    /*min-height: 35em;*/

}


.title-white{
    color: #ffffff;
}

.title-green{
    color: #1BC152;
}

.title-white>strong{
    font-size: 36px;
    font-weight: 700;
}

.hashtag{
    font-size: 16px;
    color: #0093F5;
}

.shadow{
    box-shadow: 2px 2px 2px #000;
}

.btn-custom{
    width: 250px;
    margin-bottom: 1em
}

.white{
  background: #fff;
} 
.white-r{
  background: #fff;
  margin-top: 60px;
}  
.black{
    background: #000;
    position: relative;
}

.blue{
    background: #1071FF;
    /*position: relative;*/
    /*min-height: 34em;*/
}

.blue-escuela{
    /*background: #1071FF;*/
    background-image: url('../img/bg-donate.jpg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    background-color: #1071FF;
    /*position: relative;*/
    /*min-height: 34em;*/
}

.green{
    background: #21D455;
}

.margin-bottom{
    margin-bottom: 0.8em;
}

.margin-bottom-lg{
    margin-bottom: 2.8em;
}

.margin-top {
    margin-top: 1.6em;
}


.margin-top-lg{
    margin-top: 2.6em;
}
.margin-top-xlg{
    margin-top: 3.6em;
}
.footer{
    background: #262626;
    padding-top: 2em;
}


.texto-blanco{
    color: #ffffff;
}

.texto-oscuro{
    color:#868686;
}

.from{
    color: #1BC152;
}

.bg_water{
    background: url('../img/bg-water.jpg') center no-repeat;
    background-size: cover;
    min-height: 35em;
}

.bg_ravers{
    background: url('../img/bg-ravers.jpg') center no-repeat;
    background-size: cover;
    min-height: 35em;
}

.bg_programs{
    background: url('../img/programas.jpg') center no-repeat;
    background-size: cover;
    min-height: 35em;
}

.bg_about{
    background: url('../img/bg-about.jpg') center no-repeat;
    background-size: cover;
    min-height: 35em;
}

.bg_volunteer{
    background: url('../img/Collage.jpg') center no-repeat;
    background-size: cover;
    min-height: 35em;
}

.bg_dj{
    background: url('../img/bg-dj.jpg') center no-repeat;
    background-size: cover;
    min-height: 65em;
}
.bg_dj1{
    background: url('../img/bg-dj1.jpg') center no-repeat;
    background-size: cover;
    min-height: 55em;
}

.bg_donate{
    background: url('../img/bg-donate.jpg') center no-repeat;
    background-size: cover;
    min-height: 67em;
}

.bg_contact{
    background: url('../img/bg-contact.jpg') center no-repeat;
    background-size: cover;
    min-height: 65em;
}

.bg-kh{
  background: url('../img/bg-kh.jpg') center no-repeat;
  background-size: cover;
  min-height: 55em;
}

.bg-help{
  background: url('../img/bg-help.jpg') center no-repeat;
  background-size: cover;
  min-height: 55em;
}
.bg-movil{
  background: url('../img/dj-challenge/pledge/bg-movil-pledge.png') right no-repeat;
  background-size: cover;
  min-height: 30em;
}

.bg-form{
  background: rgba(0,0,0,0.3);
  /*width: 75%;*/
  border-radius: 5px;
  margin-bottom: 1em;
}

.bg_blog{
  background: url('../img/bg-blog.jpg') center no-repeat;
  background-size: cover;
  min-height: 45em;
}

.bg_january,.bg_february,.bg_march,.bg_april,.bg_may,.bg_june,.bg_july,.bg_august,.bg_september,.bg_october,.bg_november,.bg_december{
  background: url('../img/bg-calendar.jpg') center no-repeat;
  background-size: cover;
  min-height: 45em;
}

.bg_update{
    background: url('../img/bg-update.jpg') center no-repeat;
    background-size: cover;
    min-height: 35em;
}

.bg_water-sanitation-programs{
    background: url('../img/bg-water-sanitation-programs.jpg') center no-repeat;
    background-size: cover;
    min-height: 35em;
}

.bg_dj-birthday-calendar{
    background: url('../img/bg-djcalendar.jpg') center no-repeat;
    background-size: cover;
    min-height: 45em;
}

.bg_01-january,.bg_01-february,.bg_01-march,.bg_01-april,.bg_01-may,.bg_01-june,.bg_01-july,.bg_01-august,.bg_01-september,.bg_01-october,.bg_01-november,.bg_01-dicember,.bg_02-january,.bg_02-february,.bg_02-march,.bg_02-april,.bg_02-may,.bg_02-june,.bg_02-july,.bg_02-august,.bg_02-september,.bg_02-october,.bg_02-november,.bg_02-dicember,.bg_03-january,.bg_03-february,.bg_03-march,.bg_03-april,.bg_03-may,.bg_03-june,.bg_03-july,.bg_03-august,.bg_03-september,.bg_03-october,.bg_03-november,.bg_03-dicember,.bg_04-january,.bg_04-february,.bg_04-march,.bg_04-april,.bg_04-may,.bg_04-june,.bg_04-july,.bg_04-august,.bg_04-september,.bg_04-october,.bg_04-november,.bg_04-dicember,.bg_05-january,.bg_05-february,.bg_05-march,.bg_05-april,.bg_05-may,.bg_05-june,.bg_05-july,.bg_05-august,.bg_05-september,.bg_05-october,.bg_05-november,.bg_05-dicember,.bg_06-january,.bg_06-february,.bg_06-march,.bg_06-april,.bg_06-may,.bg_06-june,.bg_06-july,.bg_06-august,.bg_06-september,.bg_06-october,.bg_06-november,.bg_06-dicember,.bg_07-january,.bg_07-february,.bg_07-march,.bg_07-april,.bg_07-may,.bg_07-june,.bg_07-july,.bg_07-august,.bg_07-september,.bg_07-october,.bg_07-november,.bg_07-dicember,.bg_08-january,.bg_08-february,.bg_08-march,.bg_08-april,.bg_08-may,.bg_08-june,.bg_08-july,.bg_08-august,.bg_08-september,.bg_08-october,.bg_08-november,.bg_08-dicember,.bg_09-january,.bg_09-february,.bg_09-march,.bg_09-april,.bg_09-may,.bg_09-june,.bg_09-july,.bg_09-august,.bg_09-september,.bg_09-october,.bg_09-november,.bg_09-dicember,.bg_10-january,.bg_10-february,.bg_10-march,.bg_10-april,.bg_10-may,.bg_10-june,.bg_10-july,.bg_10-august,.bg_10-september,.bg_10-october,.bg_10-november,.bg_10-dicember,.bg_11-january,.bg_11-february,.bg_11-march,.bg_11-april,.bg_11-may,.bg_11-june,.bg_11-july,.bg_11-august,.bg_11-september,.bg_11-october,.bg_11-november,.bg_11-dicember,.bg_12-january,.bg_12-february,.bg_12-march,.bg_12-april,.bg_12-may,.bg_12-june,.bg_12-july,.bg_12-august,.bg_12-september,.bg_12-october,.bg_12-november,.bg_12-dicember,.bg_13-january,.bg_13-february,.bg_13-march,.bg_13-april,.bg_13-may,.bg_13-june,.bg_13-july,.bg_13-august,.bg_13-september,.bg_13-october,.bg_13-november,.bg_13-dicember,.bg_14-january,.bg_14-february,.bg_14-march,.bg_14-april,.bg_14-may,.bg_14-june,.bg_14-july,.bg_14-august,.bg_14-september,.bg_14-october,.bg_14-november,.bg_14-dicember,.bg_15-january,.bg_15-february,.bg_15-march,.bg_15-april,.bg_15-may,.bg_15-june,.bg_15-july,.bg_15-august,.bg_15-september,.bg_15-october,.bg_15-november,.bg_15-dicember,.bg_16-january,.bg_16-february,.bg_16-march,.bg_16-april,.bg_16-may,.bg_16-june,.bg_16-july,.bg_16-august,.bg_16-september,.bg_16-october,.bg_16-november,.bg_16-dicember,.bg_17-january,.bg_17-february,.bg_17-march,.bg_17-april,.bg_17-may,.bg_17-june,.bg_17-july,.bg_17-august,.bg_17-september,.bg_17-october,.bg_17-november,.bg_17-dicember,.bg_18-january,.bg_18-february,.bg_18-march,.bg_18-april,.bg_18-may,.bg_18-june,.bg_18-july,.bg_18-august,.bg_18-september,.bg_18-october,.bg_18-november,.bg_18-dicember,.bg_19-january,.bg_19-february,.bg_19-march,.bg_19-april,.bg_19-may,.bg_19-june,.bg_19-july,.bg_19-august,.bg_19-september,.bg_19-october,.bg_19-november,.bg_19-dicember,.bg_20-january,.bg_20-february,.bg_20-march,.bg_20-april,.bg_20-may,.bg_20-june,.bg_20-july,.bg_20-august,.bg_20-september,.bg_20-october,.bg_20-november,.bg_20-dicember,.bg_21-january,.bg_21-february,.bg_21-march,.bg_21-april,.bg_21-may,.bg_21-june,.bg_21-july,.bg_21-august,.bg_21-september,.bg_21-october,.bg_21-november,.bg_21-dicember,.bg_22-january,.bg_22-february,.bg_22-march,.bg_22-april,.bg_22-may,.bg_22-june,.bg_22-july,.bg_22-august,.bg_22-september,.bg_22-october,.bg_22-november,.bg_22-dicember,.bg_23-january,.bg_23-february,.bg_23-march,.bg_23-april,.bg_23-may,.bg_23-june,.bg_23-july,.bg_23-august,.bg_23-september,.bg_23-october,.bg_23-november,.bg_23-dicember,.bg_24-january,.bg_24-february,.bg_24-march,.bg_24-april,.bg_24-may,.bg_24-june,.bg_24-july,.bg_24-august,.bg_24-september,.bg_24-october,.bg_24-november,.bg_24-dicember,.bg_25-january,.bg_25-february,.bg_25-march,.bg_25-april,.bg_25-may,.bg_25-june,.bg_25-july,.bg_25-august,.bg_25-september,.bg_25-october,.bg_25-november,.bg_25-dicember,.bg_26-january,.bg_26-february,.bg_26-march,.bg_26-april,.bg_26-may,.bg_26-june,.bg_26-july,.bg_26-august,.bg_26-september,.bg_26-october,.bg_26-november,.bg_26-dicember,.bg_27-january,.bg_27-february,.bg_27-march,.bg_27-april,.bg_27-may,.bg_27-june,.bg_27-july,.bg_27-august,.bg_27-september,.bg_27-october,.bg_27-november,.bg_27-dicember,.bg_28-january,.bg_28-february,.bg_28-march,.bg_28-april,.bg_28-may,.bg_28-june,.bg_28-july,.bg_28-august,.bg_28-september,.bg_28-october,.bg_28-november,.bg_28-dicember,.bg_29-january,.bg_29-february,.bg_29-march,.bg_29-april,.bg_29-may,.bg_29-june,.bg_29-july,.bg_29-august,.bg_29-september,.bg_29-october,.bg_29-november,.bg_29-dicember,.bg_30-january,.bg_30-february,.bg_30-march,.bg_30-april,.bg_30-may,.bg_30-june,.bg_30-july,.bg_30-august,.bg_30-september,.bg_30-october,.bg_30-november,.bg_30-dicember,.bg_31-january,.bg_31-february,.bg_31-march,.bg_31-april,.bg_31-may,.bg_31-june,.bg_31-july,.bg_31-august,.bg_31-september,.bg_31-october,.bg_31-november,.bg_31-dicember{
   background: url('../img/bg-day.jpg') center no-repeat;
    background-size: cover;
    min-height: 45em;
}
.vertical{
  margin-top: 8em;
  
}
.vertical_1{
  margin-top: 5em;
  
}
.vertical_2{
  margin-top: 6em;
  
}

.vertical_3{
  margin-top: 3em;
  
}

.text-estandar{
    font-size: 1.2em;
}


/* VIDEO CSS*/

.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative;
  /*height: 35em;*/
  background: url('../img/bg-video.png') center no-repeat;
  background-size: cover;
}
.no-video .video-container video,
.touch .video-container video {
  display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}
.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  /*min-height: 35em;*/
  overflow: hidden;
  /*background: #000;*/
}
.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute;
}
.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
}
.video-container .title-container {
  z-index: 1000;
  position: absolute;
  /*top: 20%;*/
  width: 100%;
  text-align: center;
  color: #fff;
}
.video-container .description .inner {
  font-size: 1em;
  width: 45%;
  margin: 0 auto;
}
.video-container .link {
  position: absolute;
  bottom: 3em;
  width: 100%;
  text-align: center;
  z-index: 1001;
  font-size: 2em;
  color: #fff;
}
.video-container .link a {
  color: #fff;
}
.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0;
}
.video-container video.fillWidth {
  width: 100%;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  min-height: 250px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

.carousel-caption p{
    color: #000;
}
/* Declare heights because of positioning of img element */
.carousel .item {
  min-height: 250px;
  /*background-color: #777;*/
}
@media (max-width: 768px) {
  .carousel .item {
    min-height: 730px;
    /*background-color: #777;*/
  }
}

@media (min-width: 768px) and (max-width: 992px){
  .carousel .item {
    min-height: 800px;
    /*background-color: #777;*/
  }
}

.margin-center{
  margin-right: 4em;
  margin-left: 4em;
}

.margin-right{
  margin-right: 2em;
  /*margin-left: 4em;*/
}


.margin-center-lg{
  margin-right: 6em;
  margin-left: 6em;
}

.fieldset{
  border: 3px solid #fff;
  border-radius: 10px;
  color: #fff;
  margin-top: 2em;
  padding:0;
}

.borderdiv{
  border-bottom: 2px solid #fff;
}

.bordermail{
  border: 2px solid #fff;
  border-radius: 3px;
  padding:1.4em .2em 1em .2em; 
  margin-top: 1em;
}

.margincontact{
  
  padding:1.4em .2em 1em .2em; 
  margin-top: 1em;
}

.social-icon{
  margin-right: 1.5em;
}

.address{
  color: #fff;
  font-size: 3em;
}

.img-shadow{
  box-shadow: 7px 7px 10px #000;
}

.div-border{
  border-bottom: 2px solid #ddd
}

.padding-bottom{
  padding-bottom: 2em;
}

.padding-top{
  padding-top: 0.7em
}
.padding-top-lg{
  padding-top: 1.2em
}
.padding-center{
  padding-left: 7%;
  padding-right: 7%;
}
.text-shadow{
  text-shadow: 2px 2px 2px #000;
}

.div-donate{
  background: #DBEAF5;
  width: 75%;
  /*min-height: 410px;*/
  border-radius: 10px;
  margin:0 auto;
  opacity: 0.8;
}

.div_footer{
  background:red;
  padding: 0;

  border-top: 2px solid #000;
  width: 100%;
  border-bottom: 2px solid #000;
}

.txt-dj{
  font-size: 1.6em;
  text-shadow: 3px 2px 2px #000;
}

.img-text{
  margin:0;
  padding: 0;
  height: 50px;
  top: -11px;
  position: relative;
}
.img-text-r{
  height: 40px;
  top: -15px;
  position: relative;
  margin: 0.2em -0.5em -0.5em -0.2em;
  /*padding: -0.5em;*/
}
.txt-dj-r{
  text-align: center;
  /*background:red;*/
}
.text-title-dj{
  font-size: 1.4em;
  margin-top: 0.4em;
}

.text-content-dj{
  font-size: 1.25em;
  margin: 0 1em;
  font-weight: 400;
}
.text-step-dj{
  font-size: 1.1em;
  margin: 0 2.4em;
  font-weight: 400;
}

.division {
  top:-72px;
  position: relative;
}
.division-1 {
  top:-72px;
  position: relative;
}
.division-2 {
  top:-132px;
  position: relative;
}

.division-r {
  top:-22px;
  position: relative;
}

.division-r-3{
  top:-45px;
  position: relative;
}


.text-dj{
    text-align: justify;
    color:#000;
    /*margin: 0 4em;*/
    /*position: absolute;*/
    margin-top: -4em;
    /*margin-bottom: 2em;*/

}
.text-dj-1{
    text-align: center;
    color:#000;
    /*margin: 0 4em;*/
    /*position: absolute;*/
    margin-top: -2em;
    /*margin-bottom: 2em;*/

}

.animate{
  height:100%;
  width:100%;
  position:absolute;
  left:0px;
  top:0px;
  /*z-index:99999;*/
}

.animate_fire{
  /*height:50%;
  width:100%;*/
  position:absolute;
  left:0px;
  top:300px;
  /*z-index:99999;*/
}
.animate_fire-r{
  /*height:50%;
  width:100%;*/
  position:absolute;
  left:0px;
  top:200px;
  z-index:0;
}

canvas {
  padding: 0;
  margin: 0;
}

.text-boton{
  font-size: 1.2em;
  color: #fff;
  margin-top: 0.7em;
  margin-right: -2em;
  /*width: 10px;*/
}
.text-boton-r{
  font-size: 1.2em;
  color: #fff;
  margin-top: 1em;
  /*margin-right: -2em;*/
  /*width: 10px;*/
}

.rowsombra{
  box-shadow: 0px 0px 20px #000;
}

.margin-bottom-xlg{
  margin-bottom: 5em;
}

.card{
  background:#1BC659;
  width: 275px;
  padding-bottom: .5em;
  margin-bottom: 2.5em;
  height: 390px;
  z-index: -1;
  /*position: relative;*/

}

.p_hidden{
  display: none;
  padding-top:6em; 
}

.alert{
  display: none;
  position: fixed;
  top:0;
  width: 100%;
  height: 100%;
  background:#000;
  z-index: 10;

}

.prueba{
  display: none;
  position: fixed;
  top:0;
  width: 100%;
  height: 100%;
  /*background:#000;*/
  z-index: 12;
}

.mensaje{
  width: 90%;
  max-height: 380px;
  border-radius: 5px;
  border:2px solid #CCC;
  margin: 0 auto;
  margin-top: 2em;
  background: #fff;
  z-index: 12;
  /*opacity: 1;*/
  padding: 1em;
  overflow: scroll;
}

.cerrar{
  margin-top: 1em;
}

.a-color{
  color: #fff;
}
.a-color:hover{
  color: #008CDD;
}

.text-blog{
  color: white;
  margin-top: 25%;
  font-size: 3.5em;
  text-shadow: 2px 2px 2px #000;
}
.text-blog-sm{
  color: white;
  margin-top: 50%;
  font-size: 3em;
  text-shadow: 2px 2px 2px #000;
}

.cat{
  background:#006EFF;
  margin: 2.5em 0em .3em 0em;
    padding:.5em;
}

.title_border{
    border-top: 2px solid #006EFF;
}

.cat-item{
    background: red;
    height:16em;
    /*padding: 1em 2em 1em 0em;*/
    /*margin: 0em 0em 0em -2em;*/
    border: 1em solid #ffffff;

    text-align: center;
    position: relative;
    box-sizing: border-box;

}

.cat-item>a{
    color:#ffffff;
    position: absolute;
    bottom:5px;
    /*background:green;*/
    width:100%;
    left:0;
    padding: 0 1em;
}

.cat-item-409{
    background: url('../img/blog/cat1.png') center no-repeat;
    background-size: cover;
}
.cat-item-410{
    background: url('../img/blog/cat2.png') center no-repeat;
    background-size: cover;
}
.cat-item-405{
    background: url('../img/blog/cat3.png') center no-repeat;
    background-size: cover;
}
.cat-item-411{
    background: url('../img/blog/cat4.png') center no-repeat;
    background-size: cover;
}
.cat-item-412{
    background: url('../img/blog/cat5.png') center no-repeat;
    background-size: cover;
}
.cat-item-406{
    background: url('../img/blog/cat6.png') center no-repeat;
    background-size: cover;
}
.cat-item-414{
    background: url('../img/blog/cat7.png') center no-repeat;
    background-size: cover;
}
.cat-item-404{
    background: url('../img/blog/cat8.png') center no-repeat;
    background-size: cover;
}
.cat-item-413{
    background: url('../img/blog/cat9.png') center no-repeat;
    background-size: cover;
}

.margin-video-blog{
    margin-top: 5em;
}
.categories_blog .children{
  display: none;
}
.a_nolink{
  color: #fff;
  text-shadow: 1px 2px #000;
  margin-right: .5em;
  font-size: 1.3em
}
.a_nolink:hover{
  color: #fff;
}

.month-dj{
  width: 10em;
  height: 10em;
  background: red;
  border-radius: 15em;
  margin-bottom: 2em;
}

.text-vertical{
  line-height: 10em;
}

.text-vertical>a{

  font-size: 2em;
  /*color: #fff;*/
}

.text-large{
  font-size: 1.6em;
  margin-bottom: 0;
}

.dot_border{
  /*border: #000 ;*/
  border-top-style: dotted;
  border-bottom-style: dotted;

}

.content-blue{
  background: #0B6FFF;
  /*width: 100%;*/
  min-height: 12em;
  border-radius: 1em;
}

.icon-green{
  color: #1BC55B;
}
.cal_1{
  background: #FDBC1B;
}
.cal_2{
  background: #0E73FF;
}
.cal_3{
  background: #2DC560;
}
.cal_4{
  background: #FB0052;
}
.cal_5{
  background: #FDBC1B;
}
.cal_6{
  background: #0E73FF;
}
.cal_7{
  background: #2DC560;
}

.cal-dj{
  color: #ffffff;
  height: 4.5em;
  width: 4.5em;
}

.cal-dj-head{
  height: 2.5em;
}

.calendario_tabla > td{
  vertical-align: top;
}

.desc-cat>p{
  text-align: center;
  color: white;
  margin-top: 25%;
  font-size: 3.5em;
  text-shadow: 2px 2px 2px #000;
}
.desc-cat-sm>p{
  text-align: center;
  color: white;
  margin-top: 50%;
  font-size: 2.2em;
  text-shadow: 2px 2px 2px #000;
}

.prev-next{
  background:#EAEAEA;
  border: solid 1px #000;
  min-height: 6em;
}

.nav-previous{
  display: block;
  border-right: solid 1px #000;
  height: 6em;
  line-height: 6em;
}
.nav-next{
  display: block;
  height: 6em;
  line-height: 6em;
}

.border-dj{
  border: 1px solid #000;
  box-shadow: 1px 1px 1px #000;
}

.margin-top-center{
  margin-top: 25%;
}

.margin-center-vert{
  margin-top: 2em;
  margin-bottom: 2em;
}

.t-blue{
  background:#006EFF;
  width: 50%;
  margin-bottom: 3px;
}

.img-bg-cal{
  width: 100%;
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 49%, rgba(253,56,128,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(49%, rgba(255,255,255,1)), color-stop(100%, rgba(253,56,128,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 49%, rgba(253,56,128,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 49%, rgba(253,56,128,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 49%, rgba(253,56,128,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 49%, rgba(253,56,128,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fd3880', GradientType=0 );
}

.texto_sombra{
  text-shadow: 1px 2px #000;
}


.shadow-white{
  text-shadow: 1px 2px 2px #fff;
}

